---
import { Picture } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

import { getRandomUser } from '../api';

const users = await getRandomUser();
---

<Layout title='Nuestro equipo'>
  <Container>
    <Sectionhead>
      <Fragment slot='title'>Nuestro equipo</Fragment>
      <Fragment slot='description'>Somos pocos pero muy entusiastas</Fragment>
    </Sectionhead>

    <div class='flex flex-col gap-3 mx-auto max-w-4xl mt-16'>
      <h2 class='font-bold text-3xl text-gray-800'>
        Creando proyectos increíbles juntos
      </h2>
      <p class='text-lg leading-relaxed text-slate-500'>
        Somos un equipo multidisciplinario donde cada uno aporta su granito de
        arena para hacer de cada proyecto algo único y especial.
      </p>
    </div>
    <div class='grid md:grid-cols-5 gap-10 mx-auto max-w-4xl mt-12'>
      {
        users?.map((teamMemberEntry) => (
          <div class='group'>
            <div class='w-full aspect-square'>
              <Picture
                src={teamMemberEntry.picture.large}
                alt={teamMemberEntry.name.first}
                sizes='(max-width: 800px) 100vw, 270px'
                width={270}
                height={270}
                class='w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square'
              />
            </div>

            <div class='mt-4 text-center'>
              <h2 class='text-lg text-gray-800'>
                {teamMemberEntry.name.first}
              </h2>
              <h3 class='text-sm text-slate-500'>
                {teamMemberEntry.name.first}
                {teamMemberEntry.name.last}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
